<div class="list row">
  
  <div class="col-md-6">
    <h4>Laptops List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let laptop of laptops; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveLaptops(laptop, i)">
        {{ laptop.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllLaptops()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentLaptop.id">
      <h4>Laptop</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentLaptop.name }}
      </div>
      <div>
        <label><strong>Price:</strong></label>
        {{ currentLaptop.price }}
      </div>
      

      <a class="badge badge-warning" routerLink="/laptops/{{ currentLaptop.id }}">
        Edit
      </a>
    </div>
    <div *ngIf="!currentLaptop">
      <br />
      <p>Please click on a Laptop...</p>
    </div>
  </div>
</div>
